version: "3.9"

services:
  app:
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/backend
    # Load variables from your .env file
    env_file:
      - .env
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    # This allows Docker to "see" your laptop's local Postgres on port 5433
    extra_hosts:
      - "host.docker.internal:host-gateway"

# You can remove the 'db' service and 'volumes' section since
# you are using your laptop's local Postgres now.